{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
        <center>
<div class="alert alert-warning">
<p>You are already logged in ! Nice Try ! 😜</p>
</div>
        </center>
    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
           <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Register</h3>
                </div>
                <div class="panel-body">
 <form action="{% url 'reg-new' %}" method="POST">
{% csrf_token %}

                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{form}}</td>
                                </tr>
                            </table>
                        </p>
                        <p class="bs-component">
                            <center>
                              <input type='submit' value='Register' class="btn btn-primary">
                            </center>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

<script>
{% if user.is_authenticated %}
        $("div.login-panel.panel.panel-default").css("display","none");
</script>
{% endif %}

{% endblock %}